// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#app {
    height: 100vh;
    position: relative;
}

.py-4 {
    height: calc(100% - 55px);
}

.fullHeight {
    height: 100%;
}

.columnFlex {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.growingItem {
    overflow: auto;
    flex-grow: 1;
}
