<template>
    <div class="row justify-content-center fullHeight">
        <div class="col-md-8">
            <template v-if="joinedGame">
                <div class="card">
                    <div class="card-header">GAME Component</div>
                    <div class="card-body">
                       WE ARE IN A GAME
                    </div>
                </div>
            </template>
            <template v-else>
                <game-room-list-component
                    v-bind:joinGame="joinGame"
                ></game-room-list-component>
            </template>
        </div>
        <game-chat-component
           v-bind:user="user"
           v-bind:joinedGame="joinedGame"
        ></game-chat-component>
    </div>
</template>

<script>
export default {
    // mounted() {
    //     console.log('Component mounted.');
    //     // console.log(Auth::user());
    //     console.log(this.user);
    //     this.fetchGameRooms();
    //
    //     // window.onbeforeunload = () => {
    //     //     if(this.user.game_room_id){
    //     //         axios.delete(`/gamerooms/${this.user.game_room_id}`).then((response) => {
    //     //             console.log(response)
    //     //         })
    //     //     }
    //     // }
    // },

    props: ["user"],
    data: function() {
        return {
            joinedGame: null,
            // rooms: null
        }
    },
    methods: {
        // async fetchGameRooms() {
        //     const rooms = await axios.get('/gamerooms');
        //     console.log("ROOMS: ", rooms);
        //     this.rooms =rooms
        // },
        async joinGame(room) {
            console.log("JOINING GAME", room)
            // this.joinedGame = room;

            const response = await axios.put(`/gamerooms/${room.id}`);
            this.joinedGame = response.data;
            // this.user =rooms.data.user
            // console.log("JOINED: ", rooms);
        }
    }
}
</script>
