<template>
    <div class="card">
        <div class="card-header">Chat Rooms</div>
        <div class="card-body">
            <div
                class="clearfix"
                v-for="room in rooms"
            >
                <div class="container">
                    {{room.id}} -{{ room.name }}: {{ room.max_players }}
                    <button v-on:click="joinGame(room)">Join</button>
                </div>

            </div>
            <button v-on:click="createGameRoom">Create Room</button>
        </div>

    </div>
</template>

<script>
export default {
    data: function() {
        return {
            rooms: []
        }
    },
    mounted() {
        console.log('Component mounted.');
        // console.log(Auth::user());
        console.log(this.user);
        this.fetchGameRooms();

        // window.onbeforeunload = () => {
        //     if(this.user.game_room_id){
        //         axios.delete(`/gamerooms/${this.user.game_room_id}`).then((response) => {
        //             console.log(response)
        //         })
        //     }
        // }
    },
    methods: {
        async fetchGameRooms() {
            const response = await axios.get('/gamerooms');
            console.log("ROOMS: ", response.data);
            this.rooms = [...response.data];
        },

        async createGameRoom() {
            // if(!this.joinGame.id){
            //     console.log("NO ID ")
            //     return;
            // }
            const response = await axios.post(`/gamerooms`);
            this.rooms = [...this.rooms, response.data]
            console.log(response.data);
        }
    },
    name: "GameRoomListCompoment",
    props: ["joinGame"],
}
</script>

<style scoped>

</style>
