<template>
    <div class="col-md-4 fullHeight columnFlex">

        <h2>Messages</h2>
        <template v-if="joinedGame">
            <div class="container growingItem">
                <div
                    class="clearfix"
                    v-for="message in messages"
                >
                    {{ message.user.name }}: {{ message.message }}
                </div>
            </div>

            <div class="input-group">
                <input
                    type="text"
                    name="message"
                    class="form-control"
                    placeholder="Type your message here..."
                    v-model="newMessage"
                    @keyup.enter="sendMessage"
                >

                <button
                    class="btn btn-primary"
                    @click="sendMessage"
                >
                    Send
                </button>
            </div>
        </template>

        <template v-else>
            <div class="container growingItem">
                Join a Game to message!
            </div>
        </template>

    </div>
</template>

<script>
export default {
name: "game-chat-component",
    data: function() {
       return {
           messages: [],
           newMessage: ''
       }
    },
    props: ["joinedGame", "user"],

    created() {
        this.fetchMessages();
    },

    watch:{
        joinedGame: function(newJoinedGame) {
            console.log("UPDATE",newJoinedGame);
            // if(this.user.gameRoomId) {
            this.fetchMessages();
            Echo.private(`chat${newJoinedGame.id}`)
                .listen('MessageSentEvent', (e) => {
                    console.log("MESSAGE SENT")
                    this.messages.push({
                        message: e.message.message,
                        user: e.user
                    });
                });
            // }
        }
    },
    methods: {
        fetchMessages() {
            if(!this.joinedGame) {
                return;
            }
            axios.get(`/messages?roomId=${this.joinedGame.id}`).then(response => {
                this.messages = response.data;
            });
        },

        addMessage(message) {
            axios.post('/messages', {
                message,
                roomId: this.joinedGame.id
            }).then(response => {
                this.messages.push({
                    message: response.data.message.message,
                    user: response.data.user
                });
            });
        },

        sendMessage() {
            this.addMessage(this.newMessage);
            this.newMessage = '';
        }
    }
}
</script>

<style scoped>

</style>
